@CHARSET "ISO-8859-1";
body {
}
input[type=range]:: after {content: attr(max);}
input[type=range]:: before {content: attr(min);}
input [type=range]{width=250px;color=blue;font-family: 'Segoe UI';font-size: small;}